body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Black", sans-serif;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
/* SECTIONS */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  padding-top: 30px;
  position: absolute;
  right: 30%;
}

/* features */
#features {
  padding: 7% 3%;
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.features-row {
  padding: 3%;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #fc4c68;
}

/*  Testimonials section  */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

/* Press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Price section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* call to action */

.cta-button {
  margin: 20px 20px 50px;
}

/* FOOTER */

.footer-icon {
  padding: 1.5% 0.7%;
}
#footer .container-fluid {
  padding: 5% 5% 1%;
}

/* scroll top button */
.scrollBtn {
  position: fixed;

  bottom: 20px;
  right: 30px;
  z-index: 9;
}

.scrollBtn a {
  height: 39px;
  width: 37px;

  background: #343a40;
  display: block;
  border-radius: 3px;
  cursor: pointer;
}

.scrollBtn a span {
  color: #f2f2f2;
  line-height: 39px;
  font-size: 25px;
}

.scrollBtn a:hover {
  background: #ff4c68;
}

.scrollBtn a span:hover {
  background: #ff4c68;
}

html {
  scroll-behavior: smooth;
}

/* MEDIA QUERY */
@media (max-width: 1080px) {
  #title {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 900;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 900;
  }

  p {
    font-size: 1.3rem;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }

  .container-fluid {
    padding: 1% 7% 3%;
  }
}
